/* shared style */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Merriweather;
    color: white;
   
}

/* banner style */

.banner>h1{
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

.banner>h3{
    font-size: 72px;
    text-align: center;
    font-weight: 900;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 16px;
    min-height: 600px;
    margin-top:20px;
    background-image:url("../images/Banner\ Image.png"),linear-gradient(180deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}
.banner{
    width: 50%;
}

/* offer-section - 2nd slide */

.offer{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter;

}

.offer-heading{
    margin: 0 auto;
    width: 100%;
    height: 107px;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 88px;
    font-weight: 700;
   
}

.offer-content{
    margin: 0 auto;
    max-width: 1320px;
    height: 651;
    text-align: center;
     
}

.offer-content>p{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 48px;
}
.offer-content>h4{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 16px;
}

.offer-content>img{
margin-top: 48px;
width: 802.9px;

}

/* 3rd slide */
.mid-night{
max-width: 1320px;
height: 600px;  
border-radius: 16px; 
background: url("../images/Vectorrr.png"),linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-blend-mode: overlay;
display: flex;
align-items: center;
justify-content: space-between;
}

.left-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.heading{
    left: 20.15%;
right: 31.21%;
top: 303.67%;
}

.left-content>div>h1{
width: 642px;
height: 176px;
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
}

.paragraph{
left: 266px;
right: 357px;
margin-top: 24px;

}
.left-content>div>p{
    width: 697px;
    height: 60px;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.button{
    margin-top: 48px;
    margin-left: 20px;
}
.left-content>div>button{
border: none;
width: 110px;
height: 24px;
background-color: transparent;
color: white;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}
.right-content{
    width: 349.16px;
    height: 464.65px;
}
.right-content>img{
    margin-right: 110px;
}